log/*.log
log/*.out
log/*.pid
tmp/**/*
tmp/.*
tmp/profile*
doc/api
doc/app
db/schema.rb
db/schema.sql
config/database.yml
config/database.example
.#*
\#*
*~
vendor/**/**/doc/*
vendor/plugins/footnotes/*
*.swp


